<footer class="footer navbar-fixed-bottom">
	<small>
		Система электронного журнала
	</small>
	<nav>
				<ul class="nav navbar-right navbar-nav">
					<li class="<%= "active" if params[:action] == "home" %>"><%= link_to "Домашняя страница", "#"%></li>
					<li class="<%= "active" if params[:action] == "about" %>"><%= link_to "О проекте", "#"%></li>
					<li><%= link_to "Войти", "#" %></li>
				</nav>
</footer>